@charset "utf-8";

/* *{border: 1px solid red;} */

/*header設定*/
#header{
    position: relative;/*h1の中央寄せ配置の起点とするためのrelative*/
    height: 100vh;/*高さを全画面にあわせる*/
} 

/*見出し設定*/
h1{
    /*要素の配置*/
    position:absolute;
    /*要素を天地中央寄せ*/
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    /*見た目の調整*/
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    letter-spacing: 0.1em;
    color:#fff;
    text-shadow: 0 0 15px #666;
}
h1 span{
    color: #bcffdd;
}

h2, h3 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.01em;
}
h2{
    color: #8FD5FF;
    font-size: 55px;
    padding: 4%;
}
h3{
    color: #333;
    font-size: 24px;
    padding: 2% 0;
}

/*===== ナビゲーションのCSS =====*/

nav{
    margin: 0;
    padding: 12px 20px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: right;
}
    
nav ul li a{
    text-decoration: none;
    color: #666;
    font-size: 25px;
    padding:6px 20px;
	position: relative;/*線の基点とするためrelativeを指定*/
}
nav ul li a:hover{
	color:#05af66;
}

/* 左から右に線が伸びるアニメーション */
nav ul li a::after{
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#05af66;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

/*現在地とhoverの設定*/
nav ul li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

@media not all and (min-width: 768px) {
    nav ul li a{
        font-size: 20px;
        padding:10px;
    }    
}

/*========= 背景動画設定のCSS ===============*/

#video-area{
    position: fixed;
    z-index: -1;/*最背面に設定*/
    top: 0;
    right:0;
    left:0;
    bottom:0;
    overflow: hidden;
}

#video {
    /*天地中央配置*/
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*縦横幅指定*/
    width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
    height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
    min-height: 100%;
    min-width: 100%;
}


/*========= レイアウトのためのCSS ===============*/

#container{
    margin: 0 auto;
    background:#fff;
    padding:50px 5vw;
    text-align: center;
}

section.main-area{
    padding:30px 0;
    border-bottom: 1px solid #314c5b;
}

/* アイテムのためのCSS */
#wrap{
    margin: 0 auto;
    padding: 2% 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

#wrap div.item{
    margin: 0 0 3%;
    padding: 0;
    width: 45%;
    position:relative;/*テキストの基点となる位置を定義*/
}

@media not all and (min-width: 768px) {
    #wrap div.item {
        width: 100%;
    }
  
    #wrap div.item:not(:nth-child(2n+2)) {
        margin-right: 0;
    }
  
    #wrap div.item:nth-child(n+1) {
        margin-top: 30px;
    }
}

#wrap div.item a{
    color: #333;
    text-decoration: none;
}

#wrap div.item img{
    width: 100%;
}

#wrap div.item span.mask{
    position:relative;/*背景色の基点となる位置を定義*/
    display: block;
    line-height: 0;/*行の高さを0にする*/
    overflow: hidden;/*拡大してはみ出る要素を隠す*/
}

#wrap div.item span.mask::before{
    content:"";
    position: absolute;
    z-index: 2;
    left:0;
    top:0;
    opacity:0;/*透過0*/
    transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
    transform: translateY(100%);
    background: rgba(18, 33, 49, 0.8);/*背景色*/
    width:100%;
    height: 100%; 
}

#wrap div.item:hover span.mask::before{/*hoverした時の変化*/
    opacity:1;/*透過なしに変化*/
    transform: translateY(0);
}

#wrap div.item span.cap{/*画像の上のテキスト*/
    position: absolute;
    opacity:0;/*透過0*/
    transition: .5s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
    z-index:3;/*テキストを前面に出す*/
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);/*テキストの位置中央指定*/
    color: #fff;/*テキストの色を変えたい場合はここを修正*/
    line-height: 1.5;/*行の高さを1.5にする*/
}

#wrap div.item:hover span.cap{/*hoverした時の変化*/
    opacity:1;/*透過なしに変化*/
}

/* Itemの説明書きのCSS */
#wrap div.item span.description a{
    display: inline-block;
    width: 100%;
    padding: 0.5% 1%;
    text-align: right;
}

#wrap div.item span.description a:hover{
    opacity: 0.3;/*透過なしに変化*/
}

/*========= モーダル表示のためのCSS ===============*/

/*全て共通：hideエリアをはじめは非表示*/
.hide-area{
    display: none;
}

/*動画表示のモーダルの余白を変更したい場合*/
.modaal-video .modaal-inner-wrapper{
    padding:0;
}
  
  /*モーダルのボタンの色を変更したい場合*/
.modaal-close:after, 
.modaal-close:before{
    background:#314c5b;  
}
  
.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before{
    background:#5C8EAB;
}

p.keylink a{
    color: #333;
    font-size: 20px;
    outline: none;
    text-decoration: none;
    transition: all .4s;
}

p.keylink a:hover{
    opacity: 0.3;
}
/* footerのCSS */
footer {
    bottom: 0; /*下に固定*/
    background:#396f6a;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
